body {
    background-image: url(../images/fridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 940px;
    line-height: 30px;
    font-size: 20px;
}
header {
    text-align: center;
    padding: 30px;
}

#content {
 text-align: center;
}

#container {
   margin: 10rem;
   width: 540px;
   text-align: center;
   background-color: lightgrey;
   padding: 3.5rem;
   border-radius: 35px;
   border: 3px, solid, black;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    text-align: center;
}

#instructions {
    margin-bottom: 25px;
}

#instructions li { 
    font-style: italic;
}

#list {
  margin-top: 30px;
  width: 400px;
}

#list a {
    float: right;
    text-decoration: none;
    color: red;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px;
}

#list input[type="checkbox"] {
    margin: 0px 10px;
}

#list li {
    margin-left: 3rem;
    margin-right: -3rem;
    line-height: 2;
    border: 1px tan dotted;
    background-color: lightyellow;
}

#list li:hover {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}   

