body {
    background-image: url(../images/fridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 940px;
    line-height: 30px;
    font-size: 14px;
    
    
}

header {
    text-align: center;
    padding: 40px;
}

#content {
 text-align: center;
}

#container {
   margin: 20rem;
   width: 540px;
   background-color: lightgrey;
   padding-left: 1.5rem;
   border-radius: 25px;
   border: 2px, solid, black;
}

